
{% extends 'base.html' %}

{% block title %}Inventor Trade Show{% endblock %}

{% block content %}
  
<!--
  <h2>Home</h2>
  <a href="expo.html">Invention Expo</a>

-->

<!-- Section - Hero Start -->
<section id="hero-bg-video" class="bg-img-cover bg-overlay-black-7 h-100 p-0">

    <div class="section section-header">              
        <div class="container h-100">
            <div class="content custom-content">
                <div class="title-area">
                     <h1 class="title-modern h-100 font-w-700 custom-header-title hidden-x text-uppercase">Welcome To Inventor Trade Show</h1>
                        <h2 class="font-alt font-w-700 letter-spacing-1 mt-3 text-gray-200 text-medium text-uppercase">Come See the Latest Invention Ideas in our Virtual World Expo!</h2>
                        
                        <br><br><br>
                        <a href="/expo.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Enter</a>

                    <div class="separator line-separator hidden-xs">♦</div>
                </div>
            </div>
        </div>            
    </div>
           
</section>
        <!-- //Section - Hero End -->


<!-- Section - About Start -->
<section id="about" class="bg-white">
    <div class="container">
        <div class="info-icon" style=" padding-top: 40px padding-bottom: 40px">
            <div class="row justify-content-center">
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">
                    <span>
                    About This Expo
                    </span>
                </h2>
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">
                    <span>
                    One of kind interactive virtual trade show for inventors and makers. 
                    </span>
                </h3>
            </div>
        </div>

        <div class="container" style="padding-top: 40px">    
            <div class="col-lg-6 col-xl-5 text-left text-lg-left" style="padding-bottom: 50px">
                <p class="text-medium">

                    <b>Are you an Inventor?</b>
                    <br><br> 
                    Enthusiasts from around the world will be able to view your invention in a virtual world. 
                    <br><br> 
                    Reserve your booth today!
                    <br><br>

                </p>   

                <div>
                    <a href="/signup.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Exhibitors</a>
                </div>

            </div>

            <div class="col-lg-6 col-xl-5 text-left text-lg-left" style="padding-bottom: 50px">   
                <p class="text-medium">

                    <b>Are you an Attendee?</b>
                    <br><br>
                    Do you love seeing what people are inventing, the next big thing, and Shark Tank?
                    <br><br>
                    Come see the latest inventions created by people like me and you!
                    <br><br>

                </p>

                <div>
                    <a href="/signup.html" class="btn btn-white btn-fill-oj btn-lg custom-header-but">Attendees</a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- //Section - About End -->

<!-- TODO: add section -->
<div class="section features">
    <div class="each-feature event-sponsor">
        <div class="container">
            <div class="info-icon round-bg">
            
            <p class="text-medium">
            Place Holder  
            </p>

            </div>
        </div>
    </div>
</div>

       

{% endblock %}
